<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.mapper.OrderedMapper">
	

	<insert id="insertOrdered" parameterType="com.product.model.OrderedVO">
		<selectKey keyProperty="orderedNum" resultType="_int" order="BEFORE">
			select ordernum_seq.nextval from dual
		</selectKey>

		insert into ordered(title,orderednum,ordered_from_tel,ordered_from_post,ordered_no,ordered_to_name,ordered_to_tel,
		ordered_to_email,ordered_to_adr,ordered_to_post,ordered_payhow,ordered_paystate,ordered_orderprice,ordered_date,idx_fk,pnum_fk,ordered_delivstateNum_fk,ordered_from_adr,pname,oqty,price,saleprice,pimage,pcompany,totalPrice,totalPoint, ordered_statusNum_fk) 
		values(#{title},#{orderedNum},#{ordered_from_tel},#{ordered_from_post}, #{ordered_no},#{ordered_to_name},#{ordered_to_tel},
		#{ordered_to_email},#{ordered_to_adr},#{ordered_to_post},#{ordered_payhow},#{ordered_paystate},#{ordered_orderprice},sysdate,#{idx_fk},#{pnum_fk},0,#{ordered_from_adr},#{pname},#{oqty},#{price},#{saleprice},#{pimage},#{pcompany},#{totalPrice},#{totalPoint},0)
	</insert>
		
	<select id="selectAll" resultType="Ordered">
		select * from orderedview where 1=1 <include refid="searchF"></include>
	</select>
	
	<insert id="insertOrder" parameterType="Order">
		insert into ordertable(title, ordered_no, ordered_to_name, ordered_to_tel, ordered_to_email, ordered_to_adr, ordered_to_post, ordered_payhow, ordered_paystate, ordered_orderprice, ordered_date, idx)
		values(#{title}, #{ordered_no}, #{ordered_to_name},#{ordered_to_tel}, #{ordered_to_email},#{ordered_to_adr},#{ordered_to_post},#{ordered_payhow},#{ordered_paystate},#{ordered_orderprice}, sysdate, #{idx})	
	</insert>

	<update id="delivCompleted" parameterType="String">
		update orderedview set ordered_delivstateNum_fk=1 where orderednum=#{value}
	</update>
	
	
	<select id="selectOrderedByidx" resultType="Order" parameterType="int">
		select * from orderview where idx=#{value}
	</select>
	
	
	<select id="selectOrdered" resultType="Ordered" parameterType="Ordered">
		select * from orderedview where ordered_no=#{ordered_no} and idx_fk=#{idx_fk}
	</select>
	
	
	<select id="selectOrderedByOnum" resultType="Ordered" parameterType="Ordered">
		select * from orderedview where ordered_no=#{ordered_no} and idx_fk=#{idx_fk}
	</select>
	
	<select id="selectOrderedByorderedNum" resultType="Ordered" parameterType="int">
		select * from ordered where orderedNum=#{value}
	</select>
	
	<select id="selectRefundByidx" resultType="Ordered" parameterType="int">
		select * from refundedview where idx_fk=#{value} and refund_num_fk is not null
	</select>
	
	<select id="selectYetRefund" resultType="Ordered" parameterType="Ordered">
		select * from orderedview where ordered_no=#{ordered_no} and idx_fk=#{idx_fk} and refund_num_fk is null
	</select>
	
	<sql id="searchF">
		<if test='findType!="" and findKeyword!="" and findType!=null and findKeyword!=null'>
			<choose>
				<when test="findType==1">
				   and ordered_no like '%'||#{findKeyword}||'%'			
				</when>
				<when test="findType==2">
				   and  pname like '%'||#{findKeyword}||'%'				
				</when>
				<otherwise>
				   and userid like '%'||#{findKeyword}||'%'		
				</otherwise>		
			</choose>
		</if>
		<if test='orderMode != "" and orderMode != null'>
			<choose>
				<when test="orderMode==0">
					and ordered_delivstateNum_fk = 0
				</when>
				<when test="orderMode==1">
					and ordered_delivstateNum_fk = 1
				</when>
				<otherwise>
					and ordered_delivstateNum_fk = 2
				</otherwise>
			</choose>	
		</if>
		<if test='orderStatusMode != "" and orderStatusMode!=null'>
			<choose>
				<when test="orderStatusMode==0">
					and ordered_statusNum_fk = 0
				</when>
				<when test="orderStatusMode==1">
					and ordered_statusNum_fk = 1
				</when>
				<otherwise>
					and ordered_statusNum_fk = 2
				</otherwise>
			</choose>	
		</if>
		<if test='dateStart!="" and dateEnd!="" and dateStart!=null and dateEnd !=null'>
			<choose>
				<when test='dateStart!="" and dateEnd!=""'>
					<![CDATA[and ordered_date >= TO_DATE(#{dateStart}, 'YYYY-MM-DD') and ordered_date <= TO_DATE(#{dateEnd}, 'YYYY-MM-DD')]]>	
				</when>
			</choose>
		</if>
	</sql>
	
	
	
	<select id="getTotalCount" resultType="int" parameterType="Paging">
		select count(*) from orderedview where 1=1  <include refid="searchF"/> 
	</select>
	<select id="getRefundCount" resultType="int" parameterType="Paging">
		select count(*) from refundedview where 1=1  <include refid="searchF"/> 
	</select>
	<select id="getCancelCount" resultType="int" parameterType="Paging">
		select count(*) from orderedview where 1=1
		<include refid="cancelF"/>
	</select>

	<select id="selectOrderedAllPaging" resultType="Ordered" parameterType="Paging">
		select * from (select row_number() over(order by ordered_date desc, orderedNum desc) rn, o.* from orderedview o where 1=1 <include refid="searchF"/>)	
		<![CDATA[where rn > #{start} and rn < #{end}]]> 
	</select> 
	
	<select id="selectCancelList" resultType="Ordered" parameterType="Paging">
		select * from (select row_number() over(order by ordered_date desc, orderedNum desc) rn, o.* from orderedview o where 1=1 <include refid="cancelF"/>)	
		<![CDATA[where rn > #{start} and rn < #{end}]]> 
	</select>
		<select id="selectRefundedAllPaging" resultType="Ordered" parameterType="Paging">
		select * from (select row_number() over(order by ordered_date desc, orderedNum desc) rn, o.* from refundedview o where 1=1 <include refid="cancelF"/>)	
		<![CDATA[where rn > #{start} and rn < #{end}]]> 
	</select> 
	

	<update id="updateDelivStart" parameterType="int">
		update orderedview set ordered_delivstateNum_fk=1 where orderednum=#{value}
	</update>
	
	<update id="updateDelivCompleted" parameterType="int">
		update orderedview set ordered_delivstateNum_fk=2 where orderednum=#{value}
	</update>
	
	<update id="updateCancelCompleted" parameterType="int">
		update orderedview set ordered_statusNum_fk=2 where orderednum=#{value}
	</update>
	<update id="updateCancel" parameterType="int">
		update orderedview set ordered_statusNum_fk=2, refund_num_fk=3  where orderednum=#{value}
	</update>
	
	<sql id="cancelF">
		<if test='findType!="" and findKeyword!="" and findType!=null and findKeyword!=null'>
			<choose>
				<when test="findType==1">
				   and ordered_no like '%'||#{findKeyword}||'%'			
				</when>
				<when test="findType==2">
				   and  pname like '%'||#{findKeyword}||'%'				
				</when>
				<otherwise>
				   and userid like '%'||#{findKeyword}||'%'		
				</otherwise>		
			</choose>
		</if>
		<if test='orderStatusMode != "" and orderStatusMode!=null'>
			<choose>
				<when test="orderStatusMode==0">
					and ordered_statusNum_fk = 0
				</when>
				<when test="orderStatusMode==1">
					and ordered_statusNum_fk = 1
				</when>
				<otherwise>
					and ordered_statusNum_fk = 2
				</otherwise>
			</choose>	
		</if>
		<if test='dateStart!="" and dateEnd!="" and dateStart!=null and dateEnd !=null'>
			<choose>
				<when test='dateStart!="" and dateEnd!=""'>
					<![CDATA[and ordered_date >= TO_DATE(#{dateStart}, 'YYYY-MM-DD') and ordered_date <= TO_DATE(#{dateEnd}, 'YYYY-MM-DD')]]>	
				</when>
			</choose>
		</if>
	</sql>	
	
	<update id="updateRefund" parameterType="Ordered">
		update ordered set refund_num_fk=#{refund_num_fk}, rtxt=#{rtxt}, ordered_statusNum_fk=1
		where orderednum=#{orderedNum}
	</update>
	
	<update id="updateSelectDeliv" parameterType="int">
		update ordered set ordered_delivstateNum_fk=1 where orderednum=#{value}
	</update>
	
	<update id="updateSelectDelivDone" parameterType="int">
		update ordered set ordered_delivstateNum_fk=2 where orderednum=#{value}
	</update>
	
	<update id="updateSelectCancel" parameterType="int">
		update ordered set ordered_statusNum_fk=2 where orderednum=#{value}
	</update>
	
	<update id="updateSelectCancelDone" parameterType="int">
		update ordered set ordered_statusNum_fk=2 where orderednum=#{value}
	</update>
	<select id="selectUserInfo" parameterType="int" resultType="Ordered">
		select * from orderedview where orderedNum=#{value}
	</select>
	
	
</mapper>