<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.StatsMapper">

	<select id="getOrdered" resultType="Count">
		<![CDATA[ 
		select pname,sqty from(
		select pname, sum(oqty) sqty from ordered group by pname order by sqty desc) where rownum<11	
		]]>	
	</select>
	
	<select id="getOrdered_old" resultType="Count">
		<![CDATA[ 
		select pname, sum(oqty) sqty from ordered where ordered_date>='23/01/01' group by pname	order by sqty desc
		]]>	
	</select>
	
	<select id="getUser" resultType="UserCount">
		select gender as name,count(1) as count from member group by gender
	</select>
	
	<select id="getAge" resultType="UserCount">
		select age as name, count(1) as count from member group by age order by age desc
	</select>
	
	<select id="getSales" resultType="Sales">
		<![CDATA[ 
		select y, ft.tpo sales, ft.tso expense, (ft.tpo-ft.tso) profit from 
		(select total.y, sum(total.po) tpo, sum(total.so) tso from
		(select To_char(ordered_date, 'YYYY') y, sum(price*oqty) po, sum(saleprice*oqty) so from ordered group by ordered_date) total group by y) ft order by y desc
		]]>	
	</select>
	
	<select id="getMonthSales" resultType="com.admin.model.MonthVO">
	select total.m ordered_date, sum(total.so) totalprice from
	(select To_char(ordered_date, 'MM') m, sum(saleprice*oqty) so from ordered group by ordered_date 
	having To_char(ordered_date, 'YYYY')=To_char(sysdate, 'YYYY')) total group by total.m order by m
	</select>
	
	<select id="getMonthSalesByYear" resultType="com.admin.model.MonthVO">
	select total.m ordered_date, sum(total.so) totalprice from
	(select To_char(ordered_date, 'MM') m, sum(saleprice*oqty) so from ordered group by ordered_date 
	having To_char(ordered_date, 'YYYY')=#{value}) total group by total.m order by m
	</select>
	
	<select id="getUserStats" resultType="com.admin.model.MonthVO">
		<![CDATA[ 
		select total.m ordered_date, sum(total.so) totalprice from
		(select To_char(ordered_date, 'MM') m, sum(saleprice*oqty) so from ordered where idx_fk=#{idx} group by ordered_date having To_char(ordered_date, 'YYYY')=#{year}) total group by total.m order by m
		]]>	
	</select>
</mapper>