<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- typeAlias 타입별칭 설정 ===================-->
	<typeAliases>
		<typeAlias type="com.user.model.UserVO" alias="User"/>
		<typeAlias type="com.product.model.CategoryVO" alias="Category"/>
		<typeAlias type="com.product.model.ProductVO" alias="Product"/>
		<typeAlias type="com.product.model.CartVO" alias="Cart"/>
		<typeAlias type="com.board.model.BoardVO" alias="Board"/>
		<typeAlias type="com.board.model.PagingVO" alias="Paging"/>
		
	</typeAliases>
	
	<!-- mapper 정의============================  -->
	<mappers>
		<mapper resource="config/mybatis/mapper/UserMapper.xml"/>
		<mapper resource="config/mybatis/mapper/CategoryMapper.xml"/>
		<mapper resource="config/mybatis/mapper/ProductMapper.xml"/>
		<mapper resource="config/mybatis/mapper/AdminMapper.xml"/>
		<mapper resource="config/mybatis/mapper/BoardMapper.xml"/>
		
	</mappers>
</configuration>